<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated ImportGradleProject -->
      <factory
            uri="http://www.github.com/fraenkelc/buildship3_setuptask/1.0"
            class="com.github.fraenkelc.oomph.gradle.provider.ImportGradleProjectItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated ImportGradleProject -->
      <extender
            uri="http://www.eclipse.org/oomph/base/1.0"
            class="com.github.fraenkelc.oomph.gradle.provider.ImportGradleProjectItemProviderAdapterFactory$BaseChildCreationExtender"/>
      <extender
            uri="http://www.eclipse.org/oomph/setup/1.0"
            class="com.github.fraenkelc.oomph.gradle.provider.ImportGradleProjectItemProviderAdapterFactory$SetupChildCreationExtender"/>
   </extension>

</plugin>
