<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ImportGradleProject -->
      <package
            uri="http://www.github.com/fraenkelc/buildship3_setuptask/1.0"
            class="com.github.fraenkelc.oomph.gradle.ImportGradleProjectPackage"
            genModel="model/ImportGradleProject.genmodel"/>
   </extension>

</plugin>
